body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
}

.footer {
    text-align: center;
    background-color: #000;
    padding: 20px 40px;
    color: #fff;
}

.w3-top {
    position: relative !important;
}

.w3-bar {
    width: 100%;
    overflow: hidden;
    padding: 0 40px;
}

.w3-content {
    max-width: 100% !important;
    padding: 0 40px !important;
    min-height: calc(100vh - 195px);
}

.w3-bar-item.w3-button.selected {
    background-color: brown;
}
.w3-col.m3, .w3-col.m6, .w3-col.m4, .w4-col.m4   {
    padding: 10px;
    text-align: center;
}
.w3-col.m3 h2, .w3-col.m6 h2, .w3-col.m4 h2, .w4-col.m4 h2{
    border-bottom: 3px solid brown;
}
.w3-col .tile-content, .w4-col .tile-content{
    padding: 10px;
    border: 1px solid slategray;
    color: slategray;
    border-radius: 20px;
    min-height: 200px;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
}
.w3-col .tile-content h2 {
    color: brown;
}
.w3-col .tile-content:hover {
    background-color: rgb(255, 233, 208)
}
.w4-col .tile-content h2 {
    color: brown;
}
.w4-col .tile-content:hover {
    background-color: rgb(255, 233, 208)
}
.read-more-button {
    font-size: 12px;
    justify-content: flex-end;
    display: flex;
    color: brown;
}

.read-more-button:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    ;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}


@media screen and (max-width: 700px) {
    .w3-bar, footer {
        padding: 0px;
    }
    .w3-bar h2 {
        text-align: center;
    }

    .w3-bar .w3-button {
        white-space: normal !important;
        width: 100% !important;
        border: 1px solid #fff !important;
    }
}


.w3-white h2 {
    color: brown;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: brown;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: crimson;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }